<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <ul>
			{% for item in site.data.menu %}
				<li>
				    <a href="{{ site.baseurl }}{{item.url}}">
				      {{ item.title }}
				    </a>
				    {% if item.children %}
				    <ul>
							{% for item2 in item.children %}
							  <li>
							    <a href="{{ site.baseurl }}{{item2.url}}">
							      {{item2.title}}
							    </a>
							  </li>
							  {% if item2.children %}
						    	<ul>
									{% for item3 in item2.children %}
									  <li>
									    <a href="{{ site.baseurl }}{{item3.url}}">
									      {{item3.title}}
									    </a>
									  </li>
									{% endfor %}
								</ul>
								{% endif %}
								</li>
							{% endfor %}
						</ul>
						{% endif %}
				</li>
			<!--<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Homepage</a></li>-->
			{% endfor %}
		</ul>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
